@font-face {
  font-family: 'MuseoSans';
  src: local('MuseoSans'), url(./fonts/MuseoSans-500.woff) format('woff');
}
body {
  font-family: MuseoSans;
  color:darkblue;
}
.App {
  text-align: left;
  max-width: 600px;
  margin: 0 auto;  
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.MuiButton {
  padding: 5px 15px;
  background: #2459ad;
  color: white;
  border: 1px solid #ddd;
  font-size: 0.8rem;
}
.kCwZgo .MuiSelect {
  margin-right:1.5rem !important
}
.MuiButton+.MuiButton {
  background: white;
  color: blue;
}
.formSubmit {
  display:none;
}
.kCwZgo {
  padding:0
}